@mixin grid($cols, $margin) {
  float: left;
  margin-right: $margin;
  margin-bottom: $margin;
  width: calc((100% - (($cols - 1) * $margin)) / $cols);


  &:nth-child(#{$cols}n) {
    margin-right: 0px;
  }
}