.success-notification {
  --mat-snack-bar-button-color: #4CAF50;
  --mdc-snackbar-container-color: #4a4a4a;

  .mat-mdc-snack-bar-label {
    border-left: 4px solid #4CAF50;
  }
}

.warning-notification {
  --mdc-snackbar-container-color: #4a4a4a;

  .mat-mdc-snack-bar-label {
    border-left: 4px solid #ffd740;
  }
}

.error-notification {
  --mat-snack-bar-button-color: #d90000;
  --mdc-snackbar-container-color: #4a4a4a;

  .mat-mdc-snack-bar-label {
    border-left: 4px solid #d90000;
  }
}