.stat-card {
  width: 100%;
  height: 17vh;
  background: #fff;
  border-radius: 12px;
  padding: 14px 16px 26px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;

    .card-header {
        display: inline-block;
        padding: 6px 10px;
        border-radius: 6px;
        background: #f1f1f1;
        color: #444;
        font-size: 16px;
        font-weight: 500;
    }

    .card-body {
        margin-top: 20px;
        display: flex;
        align-items: baseline;
        gap: 10px;
        position: relative;
        z-index: 1;
    }

    .card-count {
        font-size: 38px;
        line-height: 1;
        font-weight: 800;
    }

    .card-label {
        font-size: 18px;
        font-weight: 700;
    }
}

.stat-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.14);

    .card-count {
        color: #1f6feb;
    }

    .card-label {
        color: #1f6feb;
    }
}

.stat-card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 55%;
  background: var(--wave-url) no-repeat bottom;
  background-size: 100% auto;
  pointer-events: none;
}

.chart-form {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 30px 0 30px 0;
}

.btn-card {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 14px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;

  display: flex;
  align-items: center;
  gap: 10px;

  .btn-card-icon {
    width: 60px;
    height: 60px;
    background-color: #1f6feb;
    border-radius: 12px;

    mat-icon{
      font-size: 50px;
      width: 50px;
      height: 50px;
      color: white
    }
  }

  .btn-card-title {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
  }
}