.popup-loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  
    .image-container {
      width: 40px;
      height: 40px;
      background-color: rgba(#fff, 0.5);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
  
      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
  }