:host {
  display: block;
  width: 100%;
}

.custom-select-form-field {
  width: 100%;
}

::ng-deep .custom-select-search-option {
  height: auto !important;
  padding: 0 !important;
  overflow: visible !important;
}

::ng-deep .custom-select-search-option .mat-mdc-option-pseudo-checkbox {
  display: none;
}
