@if (searchable) {
  <input
    type="text"
    class="custom-select-search form-control popup-input"
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchInput()"
    [placeholder]="searchPlaceholder"
  />
}
<select
  [id]="id || null"
  [class]="class"
  [value]="selectedValue"
  [disabled]="disabled"
  (change)="onSelectChange($event)"
>
  @if (placeholder !== null) {
    <option value="">{{ placeholder }}</option>
  }
  @for (item of items; track getTrackValue(item)) {
    <option [value]="getValue(item)">{{ getLabel(item) }}</option>
  }
</select>
