<div class="login-container">
  <div class="login-card">
    <h2>{{"Login" | translate}}</h2>
    
    <form [formGroup]="formGroup" class="form-container" (ngSubmit)="onSubmit()">
      <div class="form-item">
        <label class="label" for="email">{{"Email" | translate}}</label>
        <input
          id="email"
          formControlName="email"
          required
          placeholder="Введите email"
          class="form-control"
         />
      </div>

      <div class="form-group">
        <label for="password">{{"Password" | translate}}</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Введите пароль"
          required
          class="form-control"
       />
      </div>

      <button type="submit" [disabled]="formGroup.invalid || isLoading()" class="submit-btn">
        <span>{{"Enter" | translate}}</span>
      </button>
    </form>
  </div>
</div>

@if (isLoading()) {
  <app-loading></app-loading>
}