<div id="layout-container">
  <div class="primary">
    <div class="header">
      <div class="logo-container">
        <div class="layout-title"><span class="title-blue">Das</span>Auto<span class="title-peach">Parts</span></div>
      </div>
      <div class="primary-links">
        <app-navigation-links></app-navigation-links>
      </div>
      <div class="secondary-links">
        <app-navigation-secondary-links></app-navigation-secondary-links>
      </div>
    </div>
  </div>
  <div class="secondary">
    <router-outlet/>
  </div>
</div>
